<main class="container" *ngIf="user | async as u">
  <div class="card mb-5">
    <div class="card-block p-3">
      <div class="form-group row mb-0">
        <label for="id" class="col-sm-2 col-form-label col-form-label-sm">Id</label>
        <div class="col-sm-10">
          <p class="mb-0">{{ u.id }}</p>
        </div>
      </div>
      <div class="form-group row mb-0">
        <label for="name" class="col-sm-2 col-form-label col-form-label-sm">Name</label>
        <div class="col-sm-10">
          <p class="mb-0">{{ u.name }}</p>
        </div>
      </div>
      <div class="form-group row mb-0">
        <label for="username" class="col-sm-2 col-form-label col-form-label-sm">Username</label>
        <div class="col-sm-10">
          <p class="mb-0">{{ u.username }}</p>
        </div>
      </div>
      <div class="form-group row mb-0">
        <label for="email" class="col-sm-2 col-form-label col-form-label-sm">Email</label>
        <div class="col-sm-10">
          <p class="mb-0">{{ u.email }}</p>
        </div>
      </div>
      <div class="form-group row mb-0">
        <label for="phone" class="col-sm-2 col-form-label col-form-label-sm">Phone</label>
        <div class="col-sm-10">
          <p class="mb-0">{{ u.phone }}</p>
        </div>
      </div>
      <div class="form-group row mb-0">
        <label for="address" class="col-sm-2 col-form-label col-form-label-sm">Address</label>
        <div class="col-sm-10">
          <p class="mb-0">{{ u.address.suite + ' ' + u.address.street + ' ' + u.address.city + ' zipcode: ' + u.address.zipcode }}</p>
        </div>
      </div>
      <div class="form-group row mb-0">
        <label for="website" class="col-sm-2 col-form-label col-form-label-sm">Website</label>
        <div class="col-sm-10">
          <p class="mb-0">{{ u.website }}</p>
        </div>
      </div>
      <div class="form-group row mb-0">
        <label for="company" class="col-sm-2 col-form-label col-form-label-sm">Company</label>
        <div class="col-sm-10">
          <p class="mb-0">{{ u.company.name }}</p>
        </div>
      </div>
    </div>
  </div>

  <ngb-tabset type="pills">
    <ngb-tab title="Posts">
      <ng-template ngbTabContent>
        <xzy-dashboard-posts [posts]="posts"></xzy-dashboard-posts>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Comments">
      <ng-template ngbTabContent>
        <xzy-dashboard-comments [comments]="comments"></xzy-dashboard-comments>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Photos">
      <ng-template ngbTabContent>
        <h4 class="mt-3">{{ u.name }}(s) photos</h4>
        <xzy-dashboard-photos [photos]="photos"></xzy-dashboard-photos>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Albums">
      <ng-template ngbTabContent>
        <xzy-dashboard-albums [albums]="albums"></xzy-dashboard-albums>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Todos">
      <ng-template ngbTabContent>
        <xzy-dashboard-todos [todos]="todos"></xzy-dashboard-todos>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>

</main>
